<%- include("partials/head") %>

<div class="jumbotron jumbotron-fluid bg-transparent">
  <div class="container">
    <h1><%= title %></h1>
    <a href="/campgrounds" class="btn btn-warning">View All Campgrounds</a>
  </div>
</div>

<%- include("partials/footer") %>
